@model RegisterUserViewModel

<div class="margin-top30 panel panel-ah">
    <div class="panel-heading">Registreer een gebruiker</div>
    <div class="panel-body">
        <form method="post" enctype="multipart/form-data">
            <div class="col-md-5">
                <label>Naam:</label>
                <input class="form-control" type="text" asp-for="Account.Name"/>
                <label>Gebruikersnaam:</label>
                <input class="form-control" type="text" asp-for="Account.Username"/>
                <label>Profielfoto:</label>
                <input asp-for="AccountImage" type="file"/>
                <label>Wachtwoord:</label>
                <input class="form-control" type="password" asp-for="Account.Password"/>
                <label>Email:</label>
                <input class="form-control" type="email" asp-for="Account.Email"/>
                <label>Geboortedatum</label>
                <input class="form-control" type="date" asp-for="User.Birthday"/>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <label>Adres:</label>
                <input class="form-control" type="text" asp-for="Account.Adress"/>
                <label>Postcode:</label>
                <input class="form-control" type="text" asp-for="Account.Postalcode"/>
                <label>Plaats:</label>
                <input class="form-control" type="text" asp-for="Account.Residence"/>
                <label>Telefoonnummer:</label>
                <input class="form-control" type="text" asp-for="Account.Phonenumber"/>
                <label>Geslacht</label>
                <select class="form-control" asp-for="User.Gender">
                    <option value="1">Man</option>
                    <option value="2">Vrouw</option>
                    <option value="3">Overig</option>
                </select>
            </div>


            <button class="btn btn-ah float-right" type="submit">Registreer gebruiker</button>
        </form>
    </div>
</div>