@model object

<div class="margin-top panel panel-ah">
    <div class="panel-heading">Registreer een gebruiker</div>
    <div class="panel-body">
        <form>
            <div class="col-md-5">
                <label>Naam:</label>
                <input class="form-control" type="text" />
                <label>Gebruikersnaam:</label>
                <input class="form-control" type="text" />
                <label>Wachtwoord:</label>
                <input class="form-control" type="password" />
                <label>Email:</label>
                <input class="form-control" type="email" />
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <label>Adres:</label>
                <input class="form-control" type="text" />
                <label>Postcode:</label>
                <input class="form-control" type="text" />
                <label>Plaats:</label>
                <input class="form-control" type="text" />
                <label>Telefoonnummer:</label>
                <input class="form-control" type="text" />
            </div>


            <button class="btn btn-ah" type="submit">Registreer gebruiker</button>
        </form>
    </div>
</div>