@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row text-center">
        <img class="img-responsive center-block brand-logo" @*style="max-height: 200px"*@ src="~/images/WorkersToolLogo.png"/>
    </div>

    <div row>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="panel panel-ah">
                    <div class="panel-heading">Login met je account</div>
                    <div class="panel-body">
                        <form>
                            <label>Gebruikersnaam:</label>
                            <input class="form-control" type="text"/>
                            <label>Wachtwoord:</label>
                            <input class="form-control" type="password" />
                            
                            <button class="btn btn-ah" type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-responsive home-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Albert_Heijn_Logo.svg/1200px-Albert_Heijn_Logo.svg.png" />
            </div>
        </div>
    </div>
</div>