/*Align || White space*/
.margin-left-right5 {
    margin: 0 5px;
}

.margin-bottom75 {
    margin-bottom: 75px;
}

.margin-top50 {
    margin-top: 50px;
}

.center {
    margin: 0 auto;
}

.margin-top30 {
    margin-top: 30px;
}

.margin-top-20 {
    margin-top: -35px;
}

.padding-left-right10 {
    padding: 0 10px;
}

.shift-part-next {
    margin-top: 10px;
}

.float-right {
    float: right;
}

.block-right {
    display: block;
    float: right;
}

.absolute-right {
    position: absolute;
    right: 2px;
}

.relative {
    position: relative;
}

/*Color || Font*/
.color-white {
    color: white;
}

.ah-color {
    color: #00A0E2
}

.ah-light-background {
    background: #ccf0ff;
}

.ah-background {
    background: #00A0E2;
}

.white-link {
    color: white;
}

.white-link:hover {
    color: #cccccc;
}

.font-size11 {
    font-size: 11px;
}

.border-ah {
    border: 1px solid #00A0E2;
}


/*Custom panel AH*/
.panel-ah {
    border-color: #00A0E2;
}
.panel-ah > .panel-heading {
    color: white;
    background-color: #00A0E2;
    border-color: #00A0E2;
}
.panel-ah > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #00A0E2;
}
.panel-ah > .panel-heading .badge {
    color: white;
    background-color: #00A0E2;
}
.panel-ah > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #00A0E2;
}

/*Custom button*/
/*-AH-*/
.btn-ah {
    color: #fff;
    background-color: #00A0E2;
    border-color: #008fcc;
    margin-top: 15px;
}

/*-Green-*/
.btn-green {
    color: #fff;
    background-color: #009933;
    border-color: #006622;
}

/*-Red-*/
.btn-red {
    color: #fff;
    background-color: #cc0000;
    border-color: #990000;
}

/*Button extra*/
.btn-circle {
    width: 40px;
    height: 40px;
    line-height: 40px; /* adjust line height to align vertically*/
    padding:0;
    border-radius: 50%;
}

/*Other || Bulky*/
.nav-account {
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
}

.brand-logo {
    max-height: 200px;
    margin-top: 20px;
}

.registreer {
    background: #00A0E2;
    width: 125px;
    height: 30px;
    color: white !important;
}

.registreer:hover {
    background: #007db3;
    color: white;
    text-decoration: none;
}

.home-logo {
    width: 100%;
    max-width: 500px;
    height: auto;
    float: right;
}

.respons-scroll {
    overflow-x: auto;
}

.show-shift-part {
    border: 1px solid #00A0E2;
    position: relative;
    border-radius: 10%;
    background: #ccf0ff;
    padding: 0 5px 25px;
}