/*Align || White space*/
.margin-none {
    margin: 0 0 !important;
}

.margin-left-right5 {
    margin: 0 5px;
}

.margin-bottom75 {
    margin-bottom: 75px;
}

.center {
    margin: 0 auto;
}

.margin-top30 {
    margin-top: 30px;
}

.margin-top50 {
    margin-top: 50px;
}

.margin-top60 {
    margin-top: 60px;
}

.margin-top5 {
    margin-top: 5px;
}

.margin-top-20 {
    margin-top: -35px;
}

.padding-left-right10 {
    padding: 0 10px;
}

.shift-part-next {
    margin-top: 10px;
}

.float-right {
    float: right;
}

.block-right {
    display: block;
    float: right;
}

.absolute-right {
    position: absolute;
    right: 2px;
}

.relative {
    position: relative;
}

/*Size*/
.textarea-forum {
    min-height: 100px;
    max-height: 175px;
}

.textarea-forum-reply {
    min-height: 125px;
    max-height: 175px;
}

.size-forum-name {
    font-size: 14px;
}

.size-forum-date {
    font-size: 12px;
}

/*Color || Font*/
.color-white {
    color: white;
}

.ah-color {
    color: #00A0E2
}

.ah-light-background {
    background: #ccf0ff;
}

.ah-background {
    background: #00A0E2;
}

.white-link {
    color: white;
}

.white-link:hover {
    color: #cccccc;
}

.font-size11 {
    font-size: 11px;
}

.border-ah {
    border: 1px solid #00A0E2;
}

.forum-text {
    background: #ccf0ff !important;
}

.inputDateBackground {
    background: #ccf0ff;
}

/*Custom panel AH*/
.panel-ah {
    border-color: #00A0E2;
}
.panel-ah > .panel-heading {
    color: white;
    background-color: #00A0E2;
    border-color: #00A0E2;
}
.panel-ah > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #00A0E2;
}
.panel-ah > .panel-heading .badge {
    color: white;
    background-color: #00A0E2;
}
.panel-ah > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #00A0E2;
}

/*Custom button*/
/*-AH-*/
.btn-ah {
    color: #fff;
    background-color: #00A0E2;
    border-color: #008fcc;
    margin-top: 15px;
}

.btn-ah-nobackground {
    color: #00A0E2;
    background: none;
    border: none;
}

.btn-ah-nobackground:hover {
    color: #006b99;
    background: none;
    border: none;
}

/*-Green-*/
.btn-green {
    color: #fff;
    background-color: #009933;
    border: #006622 3px solid;
}

/*-Red-*/
.btn-red {
    color: #fff;
    background-color: #e60000;
    border: #b30000 3px solid;
}

/*-Gray-*/
.btn-gray {
    color: #fff;
    background-color: #666666;
    border: #404040 3px solid;
}

/*Button extra*/
.btn-circle {
    width: 40px;
    height: 40px;
    line-height: 40px; /* adjust line height to align vertically*/
    padding:0;
    border-radius: 50%;
}

/*Other || Bulky*/

/*-Scrollbar-*/
/* width */
.custom-scrolbar::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.custom-scrolbar::-webkit-scrollbar-track {
    background: #e6f7ff;
}

/* Handle */
.custom-scrolbar::-webkit-scrollbar-thumb {
    background: #00b3ff;
}

/* Handle on hover */
.custom-scrolbar::-webkit-scrollbar-thumb:hover {
    background: #00a0e2;
}

.nav-account {
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
}

.brand-logo {
    max-height: 200px;
    margin-top: 20px;
}

.nav-btn {
    background: #00A0E2;
    width: 125px;
    height: 30px;
    padding: 2px;
    color: white !important;
}

.nav-btn:hover {
    background: #33c2ff;
    color: white;
    text-decoration: none;
}

.home-logo {
    width: 100%;
    max-width: 500px;
    height: auto;
    float: right;
}

.respons-scroll {
    overflow-x: auto;
}

.show-shift-part {
    border: 1px solid #00A0E2;
    position: relative;
    border-radius: 10%;
    background: #ccf0ff;
    padding: 0 5px 25px;
}

.resize-vertical {
    resize: vertical;
}

.forum-write {
    border: 1px solid #b3e8ff;
    border-radius: 2.5%;
    padding: 10px;
    background: #eef9ff;
}

.forum-read {
    border-radius: 2.5%;
    padding: 10px;
    background: #eef9ff;
}

.img-person-forum {
    border-radius: 50%;
    height: 50px;
}

.img-person-profile {
    border-radius: 50%;
    border: 3px lightgray solid;
    height: 250px;
    width: 250px;
    display: block;
    margin: auto;
}

.center-block {
    margin: auto;
    display: block;
}

.p-approved {
    font-size: 34px;
    color: #009933;
}

.p-notapproved {
    font-size: 34px;
    color: #e60000;
}