@using Models
@model AddScheduleViewModel

<div class="container">
    <h1>Rooster aanmaken</h1>
    <form class="margin-bottom75">
        <div class="col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <select id="UserSelect" class="form-control" onchange="Alert()">
                    <option value="0">Selecteer werknemer</option> @*AccountId als id voor in andere form als value of ID VAN COOKIE*@
                    @foreach (var user in Model.UsersWithAccount)
                    {
                        <option value="@user.Id">@user.Account.Name</option>
                    }
                </select> <br />
                <select id="WeekSelect" class="form-control" asp-for="Weeknumber" onchange="Alert()">
                    <option value="0">Selecteer een week</option>
                    @foreach (var week in Model.Weeks)
                    {
                        <option value="@week.Weeknumber">Week @week.Weeknumber</option>
                    }
                </select>
            </div>
            <div class="col-md-3"></div>
        </div>
    </form>
    <br />
    <div class="margin-bottom75"></div>
    
    <form method="post">
        <div id="Schedule">Selecteer eerst een week</div>
    </form>

    
</div>

@section Scripts
{
    <script>
        var userId = 0;
        var weekId = 0;
        var day = 0;

        function Alert() {
            if ($('#Schedule').html() == "Selecteer eerst een week") {
                userId = $('#UserSelect').val();
                weekId = $('#WeekSelect').val();
                Process();
            } else if ($(".inputDateBackground").length > 0) {
                alert("Hier dan");
                $(".input-begin.inputDateBackground").each(function() {
                    if (confirm("Er is een aanpassing in het rooster, wil je doorgaan zonder dat de wijzigingen niet opgelagen zijn?")) {
                        userId = $('#UserSelect').val();
                        weekId = $('#WeekSelect').val();
                        Process();
                    } else {
                        $('#UserSelect').val(userId);
                        $('#WeekSelect').val(weekId);
                    }
                });
            } else {
                //Alert("Hier");
                Process();
            }
        }

        function Process() {
            ChangeUserId();
            UserSelectCheck();
            NewSchedule();
        }

        function ChangeUserId() {
            var selectedId = document.getElementById("UserSelect").value;
            $(".InputUserId").attr('value', selectedId);
        };

        function UserSelectCheck() {
            var userSelect = $('#UserSelect').val();
            if (userSelect == 0) {
                $('#WeekSelect').attr('disabled', '');
                $('#WeekSelect').attr('title', "Selecteer eerst een werknemer");
            } else {
                $('#WeekSelect').removeAttr('disabled');
                $('#WeekSelect').attr('title', "Selecteer een week");
            }
        }

        window.onload = NewSchedule;
        window.onload = UserSelectCheck;

        function NewSchedule() {
            var weeknumber = $('#WeekSelect').val();
            if (weeknumber == 0) {
                $('#Schedule').html("Selecteer eerst een week");
            } else {
                $.ajax({
                    type: "POST",
                    url: "/Shift/NewSchedule",
                    data: { Weeknumber: weeknumber },
                    dataType: "html",
                    success: function(data) {
                        $('#Schedule').html(data);
                        var selectedId = document.getElementById("UserSelect").value;
                        $(".InputUserId").attr('value', selectedId);
                    },
                    error: function() {
                        alert("Something went wrong");
                    }
                });
            }
        };
    </script>
}