@using Models
@model AddScheduleViewModel

<div class="container">
    <h1>Rooster aanmaken</h1>
    <form class="margin-bottom75">
        <div class="col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <select id="UserSelect" class="form-control" onchange="Userselect()">
                    <option>Selecteer werknemer</option> @*AccountId als id voor in andere form als value of ID VAN COOKIE*@
                    @foreach (var user in Model.UsersWithAccount)
                    {
                        <option value="@user.Id">@user.Account.Name</option>
                    }
                </select> <br />
                <select id="WeekSelect" class="form-control" asp-for="Weeknumber" onchange="NewSchedule()">
                    @*Weeknummer als id/value voor andere form als value*@
                    @foreach (var week in Model.Weeks)
                    {
                        <option value="@week.Weeknumber">Week @week.Weeknumber</option>
                    }
                </select>
            </div>
            <div class="col-md-3"></div>
        </div>
    </form>
    <br />
    <div class="margin-bottom75"></div>
    
    <form method="post">
        <div id="Schedule"></div>
    </form>

    
</div>

<script>
    function Userselect() {
        var selectedId = document.getElementById("UserSelect").value;
        $(".InputUserId").attr('value', selectedId);
    };

    function OnloadNewSchedule() {
        var weeknumber = $('#WeekSelect').val();
        $.ajax({
            type: "POST",
            url: "/Shift/NewSchedule",
            data: { Weeknumber: weeknumber },
            dataType: "html",
            success: function (data) {
                $('#Schedule').html(data);
            },
            error: function () {
                alert("Something went wrong");
            }
        });
    }

    window.onload = OnloadNewSchedule;

    function NewSchedule() {
        var weeknumber = $('#WeekSelect').val();
        $.ajax({
            type: "POST",
            url: "/Shift/NewSchedule",
            data: { Weeknumber: weeknumber },
            dataType: "html",
            success: function (data) {
                $('#Schedule').html(data);
                var selectedId = document.getElementById("UserSelect").value;
                $(".InputUserId").attr('value', selectedId);
            },
            error: function () {
                alert("Something went wrong");
            }
        });
    };
</script>